
h1{
     text-align: center;
     margin-bottom: 20px;
     text-transform: uppercase;
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
     width: fit-content;
     padding: 10px 20px;
     margin: 20px auto;
}


.faq {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content : center;
    align-items:center;
    gap: 10px;
    border: 2px  #2b2626;
    font-size: 30px;
    font-family: sans-serif;
    margin: auto;
    
}

.faq-item {
    padding: 10px 15px;
    background-color : #ffff;
    color : #000;
    border: none;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 10px;
   width: 500px;
   border-radius: 8px
  
}

.question{
    font-weight: bold
}

.answer.show {
    display: block;
}

.answer {
    display : none
}