.info{
    margin: 20px;
    font-size: 18px;
    color: #fff;
    background-color:grey;
    width: 200px;
    height: 100px;
    padding: 30px;
    border: 3px solid #000;
    border-radius: 8px;
    
}
.action{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
.hidden{
    display: none
}